PORTAINER_URL=https://84.216.62.66:19943
PORTAINER_API_KEY=ptr_your_api_key_here
PORTAINER_ENDPOINT=2
COMPOSE_PROJECT=todo-app
NAS_SSH=root@84.216.62.66
NAS_COMPOSE_DIR=/volume1/home/carlo/todo-app/docker
